/*
 * Android
 * Por: Leandromeda (Leandro Gaudio Rosa)
 */

 table{
   margin: 100px auto;
 }

 div {margin: 0; padding: 0;}
 div div {background: red; position: relative; }

 .android{
     height: 404px; width: 334px;
     margin: 100px auto;
 }
 
 .head{
     width: 220px; height: 100px;
     top: 32px;
     border-radius: 110px 110px 0 0;
     -moz-border-radius: 110px 110px 0 0;
     -webkit-border-radius: 110px 110px 0 0;
     
     -webkit-transition: all 0.1s ease-in;
 }
 
 .left_eye, .right_eye {
     background: #fff;
     width: 20px; height: 20px;
     position: absolute; top: 42px;
     
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
 }
 
 .left_eye {left: 50px;}
 .right_eye {right: 50px;}
 
 .left_ant, .right_ant{
     width: 6px; height: 50px;
     position: absolute; top: -34px;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
 }
 
 .left_ant {
     left: 50px;
     transform: rotate(-30deg);
     -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
 }
 
 .right_ant {
     right: 50px;
     transform: rotate(30deg);
     -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
 }
 
 .body{
     width: 220px; height: 184px;
     top: 40px;
     
     border-radius: 0 0 25px 25px;
     -webkit-border-radius: 0 0 25px 25px;
     -moz-border-radius: 0 0 25px 25px;
 }
 
 .left_arm, .right_arm, .left_leg, .right_leg {
     width: 50px; position: absolute;
     -webkit-transition: all 0.1s ease-in;
 }
 
 .left_arm, .right_arm {
     height: 150px;
     border-radius: 25px;
     -moz-border-radius: 25px;
     -webkit-border-radius: 25px;
 }
 
 .left_leg, .right_leg {
     height: 80px; top: 182px;
     border-radius: 0 0 25px 25px;
     -moz-border-radius: 0 0 25px 25px;
     -webkit-border-radius: 0 0 25px 25px;
 }
 
 .left_arm {left: -58px;}
 .right_arm {right: -58px;}
 .left_leg {left: 45px;}
 .right_leg {right: 45px;}
 
 .head:hover {
     -webkit-transform: rotate(-5deg) translate(-4px, -8px);
     -transform: rotate(-5deg) translate(-4px, -8px);
     -moz-transform: rotate(-5deg) translate(-4px, -8px);
 }
 
 .left_arm:hover{
     -webkit-transform: rotate(15deg) translate(-14px, 0);
     -transform: rotate(15deg) translate(-14px, 0);
     -moz-transform: rotate(15deg) translate(-14px, 0);
 }
 
 .right_arm:hover{
     -webkit-transform: rotate(-30deg) translate(30px, 0);
     -transform: rotate(-30deg) translate(30px, 0);
     -moz-transform: rotate(-30deg) translate(30px, 0);
 }


 /*
 * Android PRETO
 * Por: Leandromeda (Leandro Gaudio Rosa)
 */
 div {margin: 0; padding: 0;}
 div div { position: relative; }

 .androidA{
     height: 404px; width: 334px;
     margin: 100px auto;
 }
 
 .headA{
    background-color: black;
     width: 220px; height: 100px;
     top: 32px;
     border-radius: 110px 110px 0 0;
     -moz-border-radius: 110px 110px 0 0;
     -webkit-border-radius: 110px 110px 0 0;
     
     -webkit-transition: all 0.1s ease-in;
 }
 
 .left_eyeA, .right_eyeA {
     background: #fff;
     width: 20px; height: 20px;
     position: absolute; top: 42px;
     
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
 }
 
 .left_eyeA {left: 50px;}
 .right_eyeA {right: 50px;}
 
 .left_antA, .right_antA{
     width: 6px; height: 50px;
     position: absolute; top: -34px;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
 }
 
 .left_antA {
    background-color: black;
     left: 50px;
     transform: rotate(-30deg);
     -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
 }
 
 .right_antA {
    background-color: black;
     right: 50px;
     transform: rotate(30deg);
     -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
 }
 
 .bodyA{
    background-color: black;
     width: 220px; height: 184px;
     top: 40px;
     
     border-radius: 0 0 25px 25px;
     -webkit-border-radius: 0 0 25px 25px;
     -moz-border-radius: 0 0 25px 25px;
 }
 
 .left_armA, .right_armA, .left_legA, .right_legA {
     width: 50px; position: absolute;
     -webkit-transition: all 0.1s ease-in;
 }
 
 .left_armA, .right_armA {
    background-color: black;
     height: 150px;
     border-radius: 25px;
     -moz-border-radius: 25px;
     -webkit-border-radius: 25px;
 }
 
 .left_legA, .right_legA {
    background-color: black;
     height: 80px; top: 182px;
     border-radius: 0 0 25px 25px;
     -moz-border-radius: 0 0 25px 25px;
     -webkit-border-radius: 0 0 25px 25px;
 }
 
 .left_armA {left: -58px;}
 .right_armA {right: -58px;}
 .left_legA {left: 45px;}
 .right_legA {right: 45px;}
 
 .headA:hover {
     -webkit-transform: rotate(-5deg) translate(-4px, -8px);
     -transform: rotate(-5deg) translate(-4px, -8px);
     -moz-transform: rotate(-5deg) translate(-4px, -8px);
 }
 
 .left_armA:hover{
     -webkit-transform: rotate(15deg) translate(-14px, 0);
     -transform: rotate(15deg) translate(-14px, 0);
     -moz-transform: rotate(15deg) translate(-14px, 0);
 }
 
 .right_armA:hover{
     -webkit-transform: rotate(-30deg) translate(30px, 0);
     -transform: rotate(-30deg) translate(30px, 0);
     -moz-transform: rotate(-30deg) translate(30px, 0);
 }

.font{
    color: #fff;
    font-size: large;
}

 